.ImgWrap {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid $border-box-color;
}

.description {
  opacity: 0.7;
  font-size: 1.1rem;
}

.dateRange {
  opacity: 0.7;
  font-size: 0.8rem;
}

.statusText {
  span {
    color: rgb(148, 42, 139);
    font-weight: bold;
  }
}

.statusIcon {
  font-size: 0.8rem;
  display: flex;
  gap: 5px;
}

.status {
  display: inline-block;

  padding: 4px 9px;
  border-radius: 5rem;
  font-size: 12px;
}

.end {
  background: rgb(223 223 223);
  color: #000000;
  @extend .status;
}

.ing {
  background: #e3fdff;
  color: #4dc4ca;

  @extend .status;
}

.new {
  background: #ffe7e7;
  color: #ff9494;
  @extend .status;
}

.summry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 3rem;

  h3 {
    opacity: 0.7;
  }
}

.back {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 2em;
  font-size: 14px;
}
