.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 400px;
}

.authLinks {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;

  a {
    font-size: 14px;
    color: #000 !important;
  }
}


.signupDescription {
  font-size: 14px;
  opacity: .6;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  // border-bottom: 1px solid;
  padding-bottom: 1rem;

  h1 {
    text-align: center;
    color: #4c14e6;

    &:first-child {
      // color: #5d5bf5;
      font-size: 2.4rem;
    }
  }

  h3 {
    text-align: center;
  }

  // text-align: center;
}

.loginText {
  text-align: center;
  opacity: .5;
  font-size: 14px;
}