.label {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  img {
    margin-right: 0.4rem;
  }

  background: var(--background-color-questionhead);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
