.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  svg,
  g {
    fill: #a7b9cd;
    width: 20px;
    height: 20px;
  }

  &:hover {
    svg,
    g {
      fill: #647487;
    }
  }
}
