.previewContainer {
  position: relative;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30%;
}

.buttonWrapper {
  display: flex;
  gap: 10px;

  button {
    flex: 1;
    background: #fff;
    border: 1px solid;
    padding: 1rem;
  }
}