.popupWidth {
  max-width: 800px;
  width: 95%;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      line-height: 2rem;
    }

    .titleText {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }
}

.search {
  display: flex;
  gap: 10px;

  input {
    flex: 1;
    border: transparent;
    text-indent: 1rem;
    background: rgb(245, 245, 245);
  }

  button {
    background: transparent;
    border: 1px solid;
    padding: 1rem 2rem;
    margin-top: 0 !important;
  }
}

.slugItemsWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-height: 400px;
  overflow-y: scroll;
}

.slugItem {
  position: relative;
  padding-bottom: 10rem;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid red;
  }
}
