@import "_mixin";
.search {
  display: flex;

  border: 1px solid #dee2e6;
  border-radius: 12px;
  overflow: hidden;
  @include FouceInput(#7975e5, 1px);

  input {
    flex: 1;
    border: transparent;
    padding: 14px 16px 14px 16px;
    background-color: transparent;
  }

  button {
    background: transparent;
    position: relative;
    margin-top: 0 !important;

    min-width: 50px;
    svg {
      width: 20px;
      height: 20px;
      fill: rgb(97, 123, 145);
    }
  }
}
