.editorContainer {
  &.error {
    :global {
      .ql-editor {
        border: 1px solid rgb(255, 123, 123);
      }
    }
  }
}

.custumQuillEditor {
  :global {
    .ql-editor {
      min-height: 150px;
      line-height: 1.7;
    }
    .ql-toolbar {
      border: 0;
      border-bottom: 1px solid rgb(208, 218, 228);
    }
    .ql-container {
      border: 0;
    }
    .ql-editor.ql-blank::before {
      color: rgba(0, 0, 0, 0.3);
      font-family: "Pretendard Variable", -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, sans-serif;

      font-style: initial;
    }
  }
  border: 1px solid rgb(208, 218, 228);
  border-radius: 5px;
}
