.ResultBarWrap {
  // background: #bfbfbf;
  margin-bottom: 1rem;
  position: relative;
  height: 25px;
  overflow: hidden;

  .curCnt {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .perCent {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }
  .label {
    position: absolute;
    z-index: 10;
    color: #26376d;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
  }
  .maxCntColor {
    color: #fff;
  }
}
