.userDisplayContainer {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-size: 1em;
  margin-right: 1rem;

  color: #333;
}

.nickName {
  // font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: 100px;
}
