.userDisplayContainer {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-size: 0.9rem;
  margin-right: 1rem;
  font-weight: 600;
  color: #333;
}


.nickName {
  color: rgb(54, 4, 172);
}