@import "_mixin";

.darkmode {
  background: rgb(255, 255, 255);
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
  @include squareCircle(45px);
  cursor: pointer;
  overflow: hidden;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(21, 7, 102, 0.149);
  box-sizing: border-box;
  // border: 1px solid rgba(8, 8, 8, 0.096);
  // background: #000000;
  box-shadow: 0px 0px 3px #757575a2;

  svg {
    width: 25px;
    fill: rgb(78, 76, 74);
  }

  &.dark {
    background: #404345;

    svg {
      fill: #fff;
    }

    box-shadow: 0px 0px 3px #ffffffa2;
  }
}