.popupWidth {
  max-width: 800px;
  width: 95%;
  max-height: calc(100% - 80px);
  overflow: hidden;
}

.wrap {
  .titleWrapper {
    .title {
      line-height: 2.3rem;
    }

    .titleText {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slugItemsWrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  max-height: 400px;

  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.2);
  div {
    &:only-child {
      width: 100%;
      grid-template-columns: initial !important;
    }
  }
}

.slugItem {
  position: relative;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
  opacity: 0;
  animation: opacity 0.5s ease forwards;

  &:hover {
    border: 2px solid red;
  }
}

.notfoundSearch {
  text-align: center;
  padding: 3rem 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
