.container {
  margin: 50px 0 30px;
}

.BoardListItemContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}

.wirteButton {
  font-size: 14px !important;
  padding: 12px 18px !important;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #d2d2db;
  padding-bottom: 0.4rem;

  h3 {
    font-size: 14px;
  }

  span {
    font-size: 14px;
    border-radius: 4px;
  }
}
