.wrapper {
  width: 450px;
  height: 50px;
  position: relative;
  margin: auto;
  background: #ccc;
  overflow: hidden;
}

.box {
  width: 50px;

  background: red;
  font-size: 25px;
  line-height: 50px;
  height: 300px;
  text-align: center;
  color: var(--color-just-black);
}

.wrapper-box2 {
  display: flex;
}

.box2 {
  width: 50px;
  height: 50px;
  background: yellow;
}

.boxes {
  position: relative;
}

.nav {
  position: relative;
  text-align: center;

  color: white;
  font-size: 20px;
  margin: 20px 0;
}

.stage {
  width: 500px;
  height: 350px;
  background: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.among {
  width: 80px;
  height: 90px;
  background: url(https://simseonbeom.github.io/Final/assets/among/Crew/Red.png);
  background-size: cover;
  position: absolute;
  top: 100px;
  transform: translateX(-100%);
}
