//Template Mixin
@import "./mixins/templateMixin.scss";
@import "./mixins/uiMixin.scss";

//btn Hover
@mixin gradient-btn-hover($color, $hover-color) {
  background: $color;

  &:hover {
    background: $hover-color;
  }
}

@mixin btn-hover($color) {
  background: $color;

  &:hover {
    background: darken($color, 50%);
  }
}

@mixin font-color-hover($color: #333) {
  color: $color;

  &:hover {
    color: ligten($color, 10%);
  }
}

//Input Style
@mixin inputStyles($radius: 5px) {
  border: 1px solid #ccc;
  border-radius: $radius;
  font-size: 14px;
  padding: 1rem;

  &:focus {
    outline: none;
  }
}

@mixin textGradient($color) {
  background: $color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: normal;
}

@mixin marginAuto($where) {
  #{$where}: auto;
}

@mixin FouceInput($color: #7975e5, $borderWeight) {
  &:focus {
    border: $borderWeight solid darken($color, 10);
    background: #f3f0ff;
  }
}

@mixin disabledButton() {
  &:disabled {
    opacity: 0.3;
    cursor: "";
    background: #bdbdbd;
  }
}

//정사각
@mixin squareCircle($size) {
  width: $size;
  height: $size;
  border-radius: 100%;
}

// 말줄임
@mixin textMaxLine($line) {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

@mixin placeHolder() {
  &::placeholder {
    color: rgba(0, 0, 0, 0.3)
  }
}