//Template Mixin
@import "./mixins/templateMixin.scss";

//grid

//btn Hover
@mixin gradient-btn-hover($color, $hover-color) {
  background: $color;
  &:hover {
    background: $hover-color;
  }
}

@mixin btn-hover($color) {
  background: $color;
  &:hover {
    background: darken($color, 10%);
  }
}

@mixin font-color-hover($color: #333) {
  color: $color;
  &:hover {
    color: ligten($color, 10%);
  }
}

//Input Style
@mixin inputStyles {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 1rem;
  &:focus {
    outline: none;
  }
}

//Template Type
