//그리드
@import "./common/reset";
@import "mixin";
@import "user.scss";

.body {
  background: #fff;
}

.container {
  min-height: 100vh;
  padding-top: 50px;
  @include grid-center;
}

button {
  cursor: pointer;
  transition: all 0.5s ease;
  border: 0;
}

.autoAlpha {
  visibility: hidden;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
  &:hover {
    @include font-color-hover();
  }
}
