//그리드
@import "./common/reset";
@import "mixin";
@import "user.scss";
@import "font.scss";

.body {
  // font-family: "Pretendard-Regular";
  font-family: "Pretendard Variable";
  color: $color-black;
}

textarea {
  font-family: "Pretendard Variable";
  font-size: 14px;
  &::placeholder {
    font-family: "Pretendard Variable";
  }
}

.container {
  min-height: 100vh;
  padding-top: 70px;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
}
.box {
  will-change: transform;
}
.autoAlpha {
  // visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
  &:hover {
    @include font-color-hover();
  }
}
input::placeholder {
  font-family: "Pretendard Variable";
}

input:focus {
  outline: none;
}

input[readonly] {
  background-color: #f0f0f0; /* Disabled-like background */
  color: #999; /* Gray out the text */
  cursor: not-allowed; /* Change the cursor to indicate non-interactive */
  outline: none;
  border: 1px solid $border-color;
}
