//그리드
@import "./common/reset";
@import "mixin";
@import "user.scss";
@import "font.scss";

.body {
  font-family: "Pretendard-Regular";
  color: $color-black;
}

.container {
  min-height: 100vh;
  padding-top: 50px;
}

button {
  cursor: pointer;
  transition: all 0.5s ease;
  border: 0;
}

.autoAlpha {
  visibility: hidden;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
  &:hover {
    @include font-color-hover();
  }
}

input:focus {
  outline: none;
}

input[readonly] {
  background-color: #f0f0f0; /* Disabled-like background */
  color: #999; /* Gray out the text */
  cursor: not-allowed; /* Change the cursor to indicate non-interactive */
  outline: none;
  border: 1px solid $border-color;
}
