// aos
@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.aos-hidden {
  opacity: 0;
}

.aos-visible {
  opacity: 1;
  animation: ani 0.5s ease;
}
