.progressbar {
  width: 0%;
  height: 100%;
  bottom: 0;
  left: 0;

  background: #bfbfbf;

  position: absolute;
  border-radius: 4px;

  .percentText {
    position: absolute;
    left: calc(100% + 20px);
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.maxCnt {
  background: linear-gradient(270deg, #7595df 0%, #7b6de7 100%);
}
