.progressbar {
  width: 0%;
  height: 100%;
  bottom: 0;
  left: 0;

  background: #f9f9f9;
  border-radius: 1.2rem;
  position: absolute;

  .percentText {
    position: absolute;
    left: calc(100% + 20px);
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.ResultBarWrap {
  position: relative;
  height: 20px;

  border-radius: 1.2rem;
  background: #f9f9f9;
  border-radius: 25px;
  width: calc(100% - 40px);
  // border: 1px solid rgba(182, 82, 177, 0.11);
  .curCnt {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  /* Rectangle 879 */

  .perCent {
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }
  .label {
    position: absolute;
    z-index: 10;
    color: #26376d;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
  }
  .maxCntColor {
    color: #fff;
  }
}
