.ImgWrap {
  display: flex;
  position: relative;
  height: 400px;

  border-radius: 1rem;
  overflow: hidden;
}

.statusIcon {
  font-size: 0.8rem;
  display: flex;
  gap: 5px;
}

.status {
  display: inline-block;

  padding: 4px 9px;
  border-radius: 5rem;
  font-size: 12px;
}

.end {
  background: rgb(223 223 223);
  color: #000000;
  @extend .status;
}

.ing {
  background: #e3fdff;
  color: #4dc4ca;

  @extend .status;
}

.new {
  background: #ffe7e7;
  color: #ff9494;

  @extend .status;
}
