.madeHeader {
  line-height: 1.7;
  padding: 70px 0 0px;
  // border-bottom: 1px solid #d5dfe6;
  // margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  h1 {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0px 0px 1px;
    white-space: pre-line;
  }

  .docbar {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
  }
}

.description {
  background: #f8f9fa;
  padding: 0.8rem;
  border-radius: 1rem;
  margin: 10px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 2rem);
  background: #fff;
  box-shadow: 0px 5px 20px rgb(117 92 255 / 6%);
  svg {
    width: 20px;
    height: 20px;
    // filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.23));
    fill: #7557cf;
  }
}
.iconWrapper {
  // background: rgb(244 242 252);
  width: 40px;
  height: 40px;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
