.madeHeader {
  line-height: 1.7;
  padding: 70px 0 0px;
  // border-bottom: 1px solid #d5dfe6;
  // margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  h1 {
    font-size: 2.1rem;
    font-weight: 700;
    white-space: pre-line;
  }

  .docbar {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
  }
}

.description {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(100% - 2rem);

  svg {
    width: 20px;
    height: 20px;
  }
}
