@keyframes slide-for-top {
  from {
    transform: rotate(5deg) translate(0%, 50%);
    opacity: 0;
  }
  to {
    transform: rotate(5deg) translate(0%, -10%);
    opacity: 1;
  }
}

@keyframes slide-for-bottom {
  from {
    transform: rotate(5deg) translate(0%, -110%);
    opacity: 0;
  }
  to {
    transform: rotate(5deg) translate(0%, -60%);
    opacity: 1;
  }
}

.slideBottom {
  opacity: 0;
  animation: slide-for-bottom 1s 1.2s ease forwards;
  gap: 10px;
}

.slideTop {
  gap: 10px;
  opacity: 0;
  animation-delay: 1s;
  animation: slide-for-top 1.4s 2s ease forwards;
}

.test {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
