@import "mixin";

.importantButton {
  padding: 1.4rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  background: linear-gradient(
    180deg,
    #7b69e7 0%,
    #7498de 100%,
    #c981cb 100.01%
  );
  color: #fff;
  box-shadow: 0px 0px 30px rgba(51, 144, 202, 0.25);
  border-radius: 13px;
}

.submitButton {
  color: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 5px 14px 29px rgb(100 63 255 / 25%);
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;

  @include disabledButton();
  // @include btn-hover(#6d5cff);
  @include btn-hover(#755cff);
  // background: linear-gradient(180deg, #7b69e7 0%, #7498de 100%, #c981cb 100.01%);
}

.closeButton {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  color: rgb(180, 180, 180);

  .deleteIcon {
    width: 12px;
    height: 12px;
    fill: rgb(180, 180, 180);
    margin-left: 0.5rem;

    &:hover {
      fill: rgb(105, 68, 209);
    }
  }
}

.noneStyleButton {
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;

  svg {
    width: 10px;
    margin-left: 20px;
  }
}

.normalButton {
  background: transparent;
  display: flex;
  padding: 1rem 0;
  align-items: center;

  svg,
  img {
    margin-right: 0.4rem;
  }

  // padding: 0.6rem 0.7rem;
  // border-radius: 0.5rem;
  // border: 1px solid $border-button-color;
}

.solidButton {
  padding: 1rem 2rem;
  border-radius: 7px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  @include btn-hover(#592bc4);
  @include disabledButton();
}

.outlineButton {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  padding: 1rem;
  letter-spacing: -0.5px;
  border: 1px solid #ebebeb;
  font-size: 13px;
  box-shadow: 0px 2px 8px 0px rgba(73, 80, 87, 0.0588235294);
  color: #495057;
  border-radius: 8px;

  &:hover {
    color: #b67ad8;
    border: 1px solid #b67ad8;

    svg {
      fill: #b67ad8;
    }
  }
}
