@import "mixin";

.importantButton {
  padding: 1.4rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  background: linear-gradient(
    180deg,
    #7b69e7 0%,
    #7498de 100%,
    #c981cb 100.01%
  );
  color: #fff;
  box-shadow: 0px 0px 30px rgba(51, 144, 202, 0.25);
  border-radius: 13px;
}

.submitButton {
  color: #fff;
  padding: 1rem 1.5rem;
  box-shadow: 5px 14px 29px rgb(100 63 255 / 25%);
  border-radius: 6px;
  font-size: 14px;
  background: #6f5bc5;
  @include disabledButton();
  @include btn-hover(#6d5cff);
  // background: linear-gradient(180deg, #7b69e7 0%, #7498de 100%, #c981cb 100.01%);
}

.closeButton {
  cursor: pointer;
  display: flex;
}

.noneStyleButton {
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;

  svg {
    width: 10px;
    margin-left: 20px;
  }
}

.normalButton {
  background: transparent;
  display: flex;
  align-items: center;

  svg,
  img {
    margin-right: 0.4rem;
  }

  // padding: 0.6rem 0.7rem;
  // border-radius: 0.5rem;
  // border: 1px solid $border-button-color;
}

.deleteIcon {
  fill: red !important;
  color: red !important;
  width: 10px !important;
  // background: rgb(223, 223, 223) !important;
  padding: 4px;
  border-radius: 1rem;
  opacity: 0.5;
  height: auto !important;
}

.solidButton {
  padding: 1rem 2rem;
  border-radius: 7px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  @include btn-hover(#592bc4);
  @include disabledButton();
}

.outlineButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #fff;
  padding: 1rem;
  letter-spacing: -0.5px;
  border: 1px solid #8d94af;
  box-shadow: 0px 2px 8px 0px #4950570f;
  color: #495057;
  border-radius: 8px;

  &:hover {
    color: #b67ad8;
    border: 1px solid #b67ad8;

    svg {
      fill: #b67ad8;
    }
  }
}
