.masterIcon {
  display: inline-flex;
  align-items: center;
  background: linear-gradient(180deg, #8e26ff 0%, #7b73d1 100%);
  font-size: 12px;
  color: #{map-get($colors-white, "default")};
  padding: 2px 3px 2px 4px;
  border-radius: 4px;
}

.anonymousIcon {
  display: flex;
  font-size: 0.5rem;
  svg {
    width: 18px;
    opacity: 0.6;
    margin-right: 2px;
  }
}
