.wrapper {
  width: 50px;

  height: 100vh;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  font-size: 25px;
  width: 150px;
  height: 300px;
  margin-top: 1rem;
  text-align: center;
  color: var(--color-just-black);
}

.boxes,
.boxes-clone {
  position: relative;

  background: yellow;
}

.nav {
  position: relative;
  text-align: center;

  color: white;
  font-size: 20px;
  margin: 20px 0;
}
