.formContainer {
  display: flex;
  flex-direction: column;
  // gap: 30px;
}

.disabled {
  opacity: 0.8;

  div {
    pointer-events: none;
    cursor: not-allowed !important;
  }
}

.info {
  font-size: 14px;
}

.madeHeader {
  line-height: 1.5;
  padding: 30px 0 30px;
  // border-bottom: 1px solid #d5dfe6;
  // margin-bottom: 3rem;
  display: flex;
  flex-direction: column;

  h1 {
    letter-spacing: -0.2px;
    font-size: 24px;
    font-weight: 700;
  }
  .description {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.gapWrapper {
  display: flex;
  flex-direction: column;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 3rem;
  border-bottom: 1px solid #d5dfe6;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* padding-bottom: 3rem; */
  border-bottom: 1px solid #d5dfe6;
  /* margin-bottom: 3rem; */
  border: 1px solid #d5dfe6;
  margin: 1.5rem 0;
  padding: 3rem;
  & .header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
      font-size: 20px;
    }
    .description {
      color: #868e96;
      font-size: 14px;
    }
  }
}

.imgWrapper {
  position: relative;

  width: 10%;
  padding-bottom: 17%;
}
