.formContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.disabled {
  opacity: 0.8;

  div {
    pointer-events: none;
    cursor: not-allowed !important;
  }
}

.info {
  font-size: 14px;
}

.madeHeader {
  line-height: 3rem;
  padding: 30px 0 50px;
}