.errorMsg {
  color: $color-error-1;
}

.form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.button {
  border: 1px solid;
  padding: 1rem 1.5rem;

  border-radius: 10px;
  // margin-top: 2em;
  font-size: 14px;
  text-align: center;
  // border: 1px solid #5d5bf5;
  color: #5d5bf5;
  cursor: pointer;
  text-decoration: underline;
  // @include disabledButton();
  // @include btn-hover(#5d5bf5);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.passwordRecovery {
  font-size: 14px;
  margin-top: 0.5rem;

  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    opacity: 0.8;
  }
}
