@tailwind base;
@tailwind components;
@tailwind utilities;

/* tiptap Editor */
.ProseMirror:focus {
  outline: none;
}

.tiptap > *:first-child {
  margin-top: 0;
}

.tiptap pre {
  background: black;
  border-radius: 0.5rem;
  color: white;
  font-family: "JetBrainsMono", monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code styling */
.tiptap pre .hljs-comment,
.tiptap pre .hljs-quote {
  color: #616161;
}

.tiptap pre .hljs-variable,
.tiptap pre .hljs-template-variable,
.tiptap pre .hljs-attribute,
.tiptap pre .hljs-tag,
.tiptap pre .hljs-regexp,
.tiptap pre .hljs-link,
.tiptap pre .hljs-name,
.tiptap pre .hljs-selector-id,
.tiptap pre .hljs-selector-class {
  color: #f98181;
}

.tiptap pre .hljs-number,
.tiptap pre .hljs-meta,
.tiptap pre .hljs-built_in,
.tiptap pre .hljs-builtin-name,
.tiptap pre .hljs-literal,
.tiptap pre .hljs-type,
.tiptap pre .hljs-params {
  color: #fbbc88;
}

.tiptap pre .hljs-string,
.tiptap pre .hljs-symbol,
.tiptap pre .hljs-bullet {
  color: #b9f18d;
}

.tiptap pre .hljs-title,
.tiptap pre .hljs-section {
  color: #faf594;
}

.tiptap pre .hljs-keyword,
.tiptap pre .hljs-selector-tag {
  color: #70cff8;
}

.tiptap pre .hljs-emphasis {
  font-style: italic;
}

.tiptap pre .hljs-strong {
  font-weight: 700;
}

/* 강제 */
.ProseMirror iframe {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
  max-width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 247 100% 68%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    --chart-1: 243.4 75.4% 58.6%;
    --chart-2: 238.7 83.5% 66.7%;
    --chart-3: 234.5 89.5% 73.9%;
    --chart-4: 229.7 93.5% 81.8%;

    --throw: (340 75% 55%);

    --shadow-primary-glow: "0 4px 6px -1px rgb(99 102 241 / 0.5)";
    --shadow-primary-glow-hover: "0 4px 6px -1px rgb(99 102 241 / 0.8";
  }

  .dark {
    --background: 240 17% 10%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 247 100% 68%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 330.4 81.2% 60.4%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;

    --custom-input: 248 20% 7%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --throw: (340 75% 55%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .icon-hover {
    @apply text-zinc-300 hover:text-zinc-500;
  }

  .form-container {
    @apply flex flex-col;
  }

  .form-input-wrapper {
    @apply mb-4 flex flex-col;
  }
  .min-h-calc-screen {
    min-height: calc(100vh - 80px);
  }

  .svg-button {
    @apply dark:fill-white/70 fill-[#495057] !p-6;
  }

  textarea,
  input,
  button {
    font-family: "Pretendard Variable";
    font-size: 14px;
  }
  /* edge input 기본기능 - Off */
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  input::-webkit-text-security-button {
    display: none;
  }
  .gird-default {
    margin: 0 auto;
    width: calc(100% - 3rem);
  }

  h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
