@import "mixin";

.logoWrapper {
  max-width: 80px;
  width: 100%;

  @include respond("medium") {
    margin-bottom: 3rem;
    // margin-top: 2rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  height: 60px;
  z-index: 10;
  background: #ffffffad;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgb(242, 242, 244);

  @include respond("medium") {
    background: #fff;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
  }
  // @include respond("medium") {
  //   height: 100vh;
  // }
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;

  @include respond("medium") {
    width: calc(100% - 40px - 100px);
    transition: left 0.5s ease;
    padding: 20px;

    &.view {
      left: 0;
    }

    &.noneView {
      left: -100%;
    }

    height: 100vh;
    background: #fff;
    position: fixed;
    top: 61px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  & > div {
    gap: 30px;
    display: flex;
    align-items: center;

    @include respond("medium") {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.new {
  background: rgb(255, 218, 218);
  font-size: 11px;
  color: #ff6767;
  padding: 0px 7px;
  border-radius: 1rem;
  margin-left: 5px;
  margin-bottom: 1px;
}
.mobileMypage {
  border: 1px solid;
}

.logOut {
  background: transparent;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 11px;
}

.burgerMenu {
  width: 17px;
  height: 30px;
  display: flex;
  flex-direction: column;

  gap: 3px;
  display: none;
  cursor: pointer;
  span {
    background: rgb(53, 53, 53);
    height: 2px;
    width: 100%;
    display: block;
  }

  @include respond("medium") {
    display: flex;
    justify-content: center;
  }
}

.mobileBtn {
  display: flex;
  gap: 10px;
  div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 1);
    }
  }
}
