@import "mixin";

.header {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  height: 60px;
  z-index: 10;

  backdrop-filter: blur(20px);
  border-bottom: 1px solid #cbd5e1;
  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    div {
      gap: 30px;
      display: flex;
      align-items: center;
    }
    .contentsLink {
      display: flex;
      gap: 30px;
      font-size: 15px;

      .new {
        background: rgb(255, 218, 218);
        font-size: 9px;
        color: #ff6767;
        padding: 4px 7px;
        border-radius: 1rem;
        margin-left: 5px;
        margin-bottom: 1px;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
    }
  }
}

.logOut {
  background: transparent;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
  border-radius: 5px;
  font-size: 11px;
}
