.react-datepicker__day--in-range {
  background: rgb(228, 207, 207) !important;
  border-radius: 100%;
}
.react-datepicker__header {
  background: rgb(118, 86, 206);
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: rgb(56, 53, 53);
}
