.inputWrapper {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}
.title {
  line-height: 1.9rem;
}

.passwordHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: 400px;

  & > div {
    background: rgb(244, 242, 252);
    padding: 0.7rem;
    border-radius: 100%;
    filter: drop-shadow(5px 5px 5px rgb(231, 232, 255));
    border: 3px solid #fff;
  }
  h3 {
    color: #7557cf;
  }
  svg {
    width: 25px;
    height: 25px;

    g {
      fill: #7557cf !important;
    }
  }
}
.buttonWidth {
  max-width: 70px !important;
}
