.btnControler {
  padding: 0.8rem 1.5rem;
  background: transparent;
  border: 2px solid;
  color: $border-box-color;
  border-radius: 3rem;
  margin-right: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: #778ce1;
  border: 2px solid;
}
