.petals {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.petal {
  position: absolute;
  border-radius: 50px;
  width: 3px;
  height: 9px;
  transform-origin: bottom;
  background: rgb(120, 117, 117);
  animation: rotate 0.5s linear infinite alternate;
}

@for $i from 1 through 12 {
  .petal:nth-child(#{$i}) {
    animation-delay: #{$i * 0.1}s;
    transform: rotate(#{($i - 1) * 30}deg) translateY(-80%);
  }
}
