@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes colorAni {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #ececec; /* 기본 배경 */
  border-radius: 5px;
  height: 20px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
  }
}
.loadingWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  & > div:only-child {
    grid-column: 1/ -1;
  }
}

.loadingItem {
  display: grid;
  gap: 5px;
  border-radius: 5px;
  grid-template-columns: auto 1fr;
  //   border: 1px solid #e0e0e0;
  //   padding: 1rem;
  background-color: #ffffff;
  & > div:nth-of-type(1) {
    width: 30px;
    @extend .skeleton;
  }

  & > div:nth-of-type(2) {
    width: 50px;

    @extend .skeleton;
  }

  & > div:nth-of-type(3) {
    width: 100%;

    @extend .skeleton;
    grid-column: 1/3;
  }

  & > div:nth-of-type(4) {
    width: 100%;
    height: 30px;
    @extend .skeleton;
    grid-column: 1/3;
  }
}
