@import "mixin";

.importantButton {
  padding: 1.4rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  background: linear-gradient(
    180deg,
    #7b69e7 0%,
    #7498de 100%,
    #c981cb 100.01%
  );
  color: #fff;
  box-shadow: 0px 0px 30px rgba(51, 144, 202, 0.25);
  border-radius: 33.5px;
}

.submitButton {
  color: #fff;
  padding: 1rem 3rem;
  background: #829ee4;
  box-shadow: 5px 14px 24.9px rgba(0, 0, 0, 0.12);
  border-radius: 50rem;
  margin-top: 2rem;
  font-size: 18px;
  &:disabled {
    opacity: 0.5;
    cursor: "";
    background: #bdbdbd;
  }
}

.closeButton {
  cursor: pointer;
  display: flex;
}

.normalButton {
  background: transparent;
  display: flex;
  align-items: center;
  svg,
  img {
    margin-right: 0.4rem;
  }
  // padding: 0.6rem 0.7rem;
  // border-radius: 0.5rem;
  // border: 1px solid $border-button-color;
}
