@import "mixin";

.FormInput {
  @include inputStyles();
  border: 1px solid rgb(208, 218, 228);
  @include FouceInput(#7975e5, 1px);
}

.error {
  border: 1px solid rgb(255, 123, 123);

  &:focus {
    border: 1px solid rgb(255, 76, 5);
    background: rgb(255, 76, 5, 0.3);
  }
}
