@import "mixin";

.templateItemContainer {
  overflow: hidden;
  cursor: pointer;
}

.templateItemSummary {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.templateItemThumbNail {
  position: relative;
  width: 100%;
  height: 160px;
  border-radius: 1.2rem;
  overflow: hidden;
  border: 1px solid lighten($color-font-signiture, 35);
  overflow: hidden;
  box-sizing: border-box;
}

.templateItemTitle {
  letter-spacing: -1px;
  font-size: 16px;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  word-break: keep-all;
  color: #333;
  text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.53);
}

.bottomWrap {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.createUser {
  opacity: 0.3;
}

.Participation {
  letter-spacing: -0.07rem;
  position: relative;
  align-items: center;
  display: flex;

  &::before {
    content: "";
    left: calc(0% - 10px);
    margin-right: 0.4rem;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 1rem;
    background: $color-on;
  }
}

.templateType {
  @include templateType;
  background: $background-color-white;
  color: #{map-get($colors-white, "default")};
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.summary {
  padding: 1rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .title {
    font-weight: 500;
    @include textMaxLine(1);
  }

  .description {
    font-size: 13px;
    opacity: 0.7;
    // margin-bottom: 1rem;
    line-height: 1.2rem;
    min-height: 40px;
    @include textMaxLine(2);
  }

  .createAt {
    font-size: 12px;
    opacity: 0.5;
  }
}

.gnederChart {
  margin-bottom: 1rem;

  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 2px;

  & .male {
    width: 60%;
    height: 5px;
    background: #abc9ff;
  }

  & .female {
    background: rgb(248, 170, 242);
    height: 5px;
    width: 40%;
  }
}

.btnWrapper {
  display: flex;
  gap: 5px;

  button {
    flex: 1;
    padding: 0.6rem;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
  }
}
