.container {
  margin: 50px 0 30px;
}

.BoardListItemContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}

.wirteButton {
  font-size: 14px !important;
  padding: 12px 18px !important;
}

.emptyState {
  text-align: center;
  padding: 2rem;
}
