.btnWrapper {
  display: flex;
  gap: 10px;
}

.btnControler {
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid #e0e0e0;
  color: #969696;
  border-radius: 5rem;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: inline-flex;

  svg {
    margin-right: 0.2rem;
  }
}

.active {
  outline: 1px solid $color-font-signiture-2;
  color: $color-font-signiture-2;
  box-sizing: border-box;

  svg path {
    fill: $color-font-signiture-2;
  }
}


.btnImg {
  width: 20px;
  height: 20px;

}

/* Rectangle 1083 */