.btnControler {
  padding: 0.8rem 1.1rem;
  background: transparent;
  border: 1px solid lighten($color-font-signiture, 35);
  color: $color-font-signiture;
  border-radius: 5rem;
  font-size: 12px;
  margin-right: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: inline-flex;
  svg {
    margin-right: 0.2rem;
  }
}

.active {
  color: $color-white;
  background: $background-active;
  border: 1px solid transparent;

  svg path {
    fill: $color-white;
  }
} /* Rectangle 1083 */
