@import "mixin";

.replyForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3개의 동일한 너비의 칸 */
  gap: 10px; /* 요소 간의 간격을 위해 추가 */

  input {
    @include inputStyles;
  }

  .textareaWrap {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #eeeeee;
    border-radius: 1rem;
    overflow: hidden;

    & > textarea {
      outline: none;
      border: 0;
      grid-column: 1 / -1;
      padding: 20px;
      border: 1px solid #eeeeee;
    }

    & > .errorBoundary {
      grid-column: 1 / 4; /* 전체 3칸을 차지 */
      color: $color-error-1;
      height: 50px;
      align-items: center;
      display: flex;
      text-indent: 1.5rem;
    }

    & > button {
      grid-column: 4 / 5; /* 버튼은 마지막 칸에 위치 */

      @include btn-hover(#7975e5);
      color: #fff;
    }
  }
}

.commentContainer {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  justify-items: start;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.replyWrapper {
  display: grid;

  justify-items: start;
}

.replyNone {
  @extend .replyWrapper;
}

.replyActive {
  @extend .replyWrapper;
  margin-left: 2rem;
}

.MsgWrap {
  // padding: 1rem;
  span {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}
.msgContents {
}
