.previewWrapper {
  border: 1px solid rgb(208, 218, 228);
  border-top: 0;
  max-width: 350px;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}

.previewContainer {
  aspect-ratio: 16 / 9;
}

.num {
  color: #8195ff;
}

.delete {
  color: #647487;

  &:hover {
    color: darken(#647487, 50);
  }
}

.textAnswer {
  background: #f8f9fa;
  font-size: 14px;
  padding: 1rem;
  border-radius: 10px;
}
