.createQuestionsList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 0.5rem;
  // margin: 50px 0;

  & > article:first-child {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

.questionsStatus {
  display: flex;
  gap: 10px;
  align-items: center;

  .QuestionsCnt {
    color: #6d5cff;
  }

  & > div {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    background: #f8f9fa;
    padding: 1rem;
    gap: 5px;

    color: #495057;

    border-radius: 0.4rem;
    span {
      font-weight: bold;
      font-size: 17px;
      color: #6e7bb1;
    }
  }
}
