.previewContainer {
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  margin: 10px 0;
  position: relative;
  height: 200px;
  overflow: hidden;
  max-width: 400px;
}

.num {
  color: #8195ff;
}

.delete {
  color: #647487;

  &:hover {
    color: darken(#647487, 50);
  }
}

.textAnswer {
  background: #f8f9fa;
  font-size: 14px;
  padding: 1rem;
  border-radius: 10px;
}
