@mixin grid-center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.GridCenter {
  @include grid-center;
}

.GridSmallCenter {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 30px;
}
