@import "mixin";

@mixin grid-center {
  // width: 100%;
  margin: 0 auto;
  width: calc(100% - 3rem);
  // @include respond("medium") {
  //   max-width: calc(100% - 20px);
  // }
}

.GridCenter {
  max-width: 1200px;
  @include grid-center;
}

.GridSmallCenter {
  margin: 0 auto;
  max-width: 700px;
  padding-top: 30px;
}

.ExtraSmall {
  @include grid-center;
  max-width: 400px;
}
