.previewBtn {
  z-index: 1;
  right: 10px;
  bottom: 10px;
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  position: absolute;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.imgWrap {
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
