//Asnwer Radio
.answerLabel {
  & > div:nth-of-type(3) {
    grid-column: 1/3;
  }

  input[type="radio"] {
    display: none;
  }

  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 0.7rem;
  margin-bottom: 0.7rem;
  border: 1px solid rgba(182, 172, 190, 0.144);
  box-sizing: border-box;
}

.answer_active {
  box-sizing: border-box;
  // border: 2px solid;
  // color: rgb(165, 75, 238);
  transform: scale(1.01);
  color: #7d62e5;
  border: 1px solid;
  text-shadow: 0px 0px 1px;
  background: #eae9f999;
  box-sizing: border-box;
  transform: scale(1.01);
  color: #7d62e5;
  border: 1px solid;
  text-shadow: 0px 0px 1px;
  background: rgba(234, 233, 249, 0.6);
  // box-shadow: 0px 20px 20px #d7d7d7;
  @extend .answerLabel;
}

.answer_null {
  @extend .answerLabel;
}

.answer_noneActive {
  opacity: 0.7;
  @extend .answerLabel;
}

//Radio
.radioLabel {
  transition: all 0.2s ease;
  svg {
    width: 30px;
    height: 30px;
  }

  input[type="radio"] {
    display: none;
  }

  margin-right: 10px;
  padding: 1rem;
  display: inline-block;
  border-radius: 5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;

  box-sizing: border-box;

  &:hover {
    color: rgb(110, 13, 189);
    box-shadow: 0px 0px 1px rgb(110, 13, 189);
  }
}

.radio_active {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border: 1px solid;
  color: rgb(110, 13, 189);
  box-shadow: 0px 0px 1px rgb(110, 13, 189);
  transform: scale(1.05);

  @extend .radioLabel;
}

.radio_null {
  @extend .radioLabel;
}

.radio_noneActive {
  opacity: 0.5;
  transform: scale(0.95);
  @extend .radioLabel;
}

.tab {
  display: flex;
  padding: 0.8rem 1rem;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border-radius: 3rem;
  opacity: 0.4;
  cursor: pointer;
  outline: 1px solid #696969;
  padding: 0.7rem 1rem;
  border-radius: 3rem;

  &.active {
    opacity: 1;
  }
}

.chkItem {
  background: transparent;
  width: 17px;
  height: 17px;
  border: 2px solid rgba(0, 0, 0, 0.1);

  margin-right: 10px;
  border-radius: 100%;
  transition: 0.2s ease;
  position: relative;

  svg {
    width: 17px;
    height: 17px;
    opacity: 0;
    transition: 0.4s ease;
  }

  svg circle {
    fill: #7d62e5;
  }

  &.active {
    svg {
      opacity: 1;
    }
  }
}
