//Asnwer Radio
.answerLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type="radio"] {
    display: none;
  }

  padding: 1rem;

  cursor: pointer;
  border-radius: 1rem;
  margin-bottom: 0.7rem;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;

  &:hover {
    border: 1px solid;
    color: rgb(110, 13, 189);
    box-shadow: 0px 0px 1px rgb(110, 13, 189);
  }
}

.answer_active {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border: 1px solid;
  color: rgb(110, 13, 189);
  box-shadow: 0px 0px 1px rgb(110, 13, 189);
  @extend .answerLabel;
}

.answer_null {
  @extend .answerLabel;
}

.answer_noneActive {
  opacity: 0.5;
  @extend .answerLabel;
}

//Radio
.radioLabel {
  svg {
    width: 30px;
    height: 30px;
  }

  input[type="radio"] {
    display: none;
  }

  margin-right: 10px;
  padding: 1rem;
  display: inline-block;
  border-radius: 5rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;

  &:hover {
    border: 1px solid;
    color: rgb(110, 13, 189);
    box-shadow: 0px 0px 1px rgb(110, 13, 189);
  }
}

.radio_active {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border: 1px solid;
  color: rgb(110, 13, 189);
  box-shadow: 0px 0px 1px rgb(110, 13, 189);
  @extend .radioLabel;
}

.radio_null {
  @extend .radioLabel;
}

.radio_noneActive {
  opacity: 0.5;
  @extend .radioLabel;
}

.tab {
  cursor: pointer;
  display: inline-block;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 14px;

  &:hover {
    color: #3270c9;
  }

  &.active {
    background: #fff;
    color: #3270c9;
    box-shadow: 0px 5px 10px #d3d3d3;
  }
}
