.chkItemWrap {
  display: flex;
  align-items: center;
}

.chkItem {
  background: transparent;
  width: 17px;
  height: 17px;
  border: 2px solid rgba(0, 0, 0, 0.1);

  margin-right: 10px;
  border-radius: 100%;
  transition: 0.2s ease;
  position: relative;

  svg {
    width: 17px;
    height: 17px;
    opacity: 0;
    transition: 0.4s ease;
  }

  svg circle {
    fill: #7d62e5;
  }

  &.active {
    svg {
      opacity: 1;
    }
  }
}
