.userDisplayWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 1rem;

  & > span {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}

.buttonWrapper {
  text-align: center;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.description {
  display: block;
  font-size: 20px;

  background: rgba(0, 0, 0, 02);
  padding: 50px;
  border-radius: 10px;
  margin: 20px 0;
}
