.userDisplayWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
  & > span {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}

.buttonWrapper {
  text-align: center;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.templateSumeryWrapp {
  margin-top: 20px;
  padding: 0 10px;
}

.description {
  margin: 30px 0;
}
